<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect to index.php if file does not exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>