<footer class="footer">
    <div class="footer__container container">
        <h1 class="footer__title">Moussa Fofana</h1>

        <ul class="footer__list">
            <li>
                <a href="#about" class="footer__link">{% trans %}About{% endtrans %}</a>
            </li>
            <li>
                <a href="#skills" class="footer__link">{% trans %}Experience{% endtrans %}</a>
            </li>
            <li>
                <a href="#work" class="footer__link">{% trans %}Works{% endtrans %}</a>
            </li>
        </ul>
        <ul class="footer__social">
            <a href="https://facebook.com/MussLilStar" target="_blank" class="footer__social-link">
                <i class='bx bxl-facebook' ></i>
            </a>
            <a href="https://instagram.com/MussLilStar" target="_blank" class="footer__social-link">
                <i class='bx bxl-instagram' ></i>
            </a>
            <a href="https://twitter.com" target="_blank" class="footer__social-link">
                <i class='bx bxl-twitter' ></i>
            </a>
        </ul>

        <span class="footer__copyright">
            &copy; Moussa Fofana. {% trans %}All rights reserved{% endtrans %}
        </span>
    </div>
</footer>